body {
	font-family: sans-serif;
	color: white;
	background-color: #424242;
}
body {
	font-size: 2em;
}

/* Computer Styles */
@media only screen and (min-width:800px) {
	body {
		font-size: 4em;
	}
}